@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --left-card-bg: oklch(88.5% 0.062 18.334);
  --right-card-bg: oklch(88.2% 0.059 254.128);
}

.dark {
  --left-card-bg: oklch(28% 0.08 18.334);
  --right-card-bg: oklch(26% 0.08 254.128);
}

